-r common-requirements.txt

# Add your own requirements below.

linkify-it-py
sphinxcontrib-opencontracting==0.0.1
-e git+https://github.com/OpenDataServices/sphinxcontrib-opendataservices-jsonschema.git@101d6bb44f6565f70712cfd85c134e6bae84fb4f#egg=sphinxcontrib-opendataservices-jsonschema
-e git+https://github.com/OpenDataServices/sphinxcontrib-opendataservices.git@80b8607bc0b0e10455a51e3e83e9831d6b72e127#egg=sphinxcontrib-opendataservices
