/*h1.panel-heading,h2.panel-heading, h3.panel-heading,h4.panel-heading {
   margin-top: 0px;
   margin-bottom: 0px
}*/

#release-tabs .tab-pane {
  background-color: #F6EDE5;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border: 1px solid #DFD7CA;
  padding-top: 20px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #F6EDE5 !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color:  #F6EDE5 !important;
}

.label-primary {
  background-color: #883832
}

.label-success {
  background-color: #883287
}

.gap-left {
  margin-left: 10px
}

.table-striped > tbody > tr:nth-of-type(2n+1) {background-color: #F6EDE5; }

a:hover, a:focus {color: #7c1200;text-decoration: underline;}

a {color: #AF5D00;text-decoration: none;}

.navbar-inverse {background-color: #c20000 !important ;border-color: red !important ;}

.small-icon {
  font-size: 12px;
  color: grey
}

.no-wrap {
  white-space: nowrap;
}

#release-tabs .label {
  text-transform: uppercase;
  font-size: 55%;
  position:relative;
  bottom:2px
}

#release-tabs .tab-pane > h3, #release-tabs .tab-pane section > h3 {
  color: #3E3F3A;
  margin-top: 0px
}

.release-pills {
  margin-right: -1px;
  padding-right: 0;
  z-index: 100;

}

.release-pills .label {
  font-size: 50%;
  vertical-align: middle;
  top: -1px;
  position: relative;
}


.release-pills a {
  border-right: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  font-size:18px;
  outline: 0;
}


#input-json {
  width: 100%;
  height: 200px
}

#hide-input-button {
  position: relative;
  top: -5px;
}

#label-id-select {
  margin-left:30px;
  font-size: 20px
}



/* Timeline */
.release-timeline-item {
  display: inline-block;
  list-style: none;
  width:78px
}

.release-timeline-line {
  position: relative;
  height: 5px;
  width: 58px;
  background-color: grey;
  top: -28px;
  z-index: -1;
  display:block
}

.release-badge {
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 47px;
  font-size: 22px;
  text-align: center;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  background-color: #7c7c7c;
  border: 3px solid #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.release-badge i,
.release-badge .fa,
.release-badge .glyphicon {
  top: 2px;
  left: 0px;
}
.release-badge.primary {
  background-color: #883287;
}
.release-badge.info {
  background-color: #29ABE0;
}
.release-badge.success {
  background-color: #AF0000;
}
.release-badge.warning {
  background-color: #d1bd10;
}
.release-badge.danger {
  background-color: #ba1f1f;
}

/*****************************/
.shareholders-chart canvas {
  display: block;
  margin: 0 auto 0 33%;
}
