.wy-nav-content {
  max-width: none;
}
.rst-content table.docutils {
  width: 100%;
  table-layout: fixed;
}
.rst-content table.docutils td {
  vertical-align: top;
}
.rst-content code {
  font-size: 10px;
}

.wy-table-responsive table td {
  white-space: normal !important;
}

.wy-nav-side {
    background: #004D40;
}
.wy-side-nav-search {
    background: #004D40;
}
.oc-switchers {
    background: #004D40;
}
.wy-menu-vertical a:hover {
    background: #001b16;
}

.disclosure-timing {
    float: right;
}
.rst-content .disclosure-timing table.docutils,
.rst-content table.docutils.flattened-example {
  width: auto;
  table-layout: auto;
}
