.wy-nav-content {
  max-width: none;
}
.rst-content table.docutils {
  width: 100%;
  table-layout: fixed;
}
.rst-content table.docutils td {
  vertical-align: top;
}
.rst-content code {
  font-size: 10px;
}

.wy-nav-side {
  background: #004d40;
}
.wy-side-nav-search {
  background: #004d40;
}
.oc-switchers {
  background: #004d40;
}
.wy-menu-vertical a:hover {
  background: #001b16;
}

.disclosure-timing {
  float: right;
}
.rst-content .disclosure-timing table.docutils,
.rst-content table.docutils.flattened-example {
  width: auto;
  table-layout: auto;
}

.show-shower {
  background-color: #fff;
  border: 8px solid #fff;
  height: 800px;
  max-height: calc(100vh - 2em);
  max-width: none;
  overflow: hidden;
  padding: 0;
  width: 90%;
}
.show-shower iframe {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
}
.show-shower::backdrop {
  background-color: rgb(0 0 0 / 50%);
}
